* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


#background {
    /* background-image: url('../assets/images/question-zone-background.jpeg'); */
    width: 1000px;
    background-color: cadetblue;

}


header {
    background-color: blue;
}

#next {
    background-color: green;
}

footer {
    background-color: blueviolet;
}

.hidden {
    display: none;
}

.outer-box {
    
  
    
} 

.question-box {
   
    background-color: lightblue;
}

.form-box {
   
    background-color: brown;
    
}

.submit {
   
}

.number-box {
    
    background-color: bisque;
}

.next-question {
   
}