* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  /* display: flex;
    flex-direction: column; */
  background-color: bisque;
}

#background {
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
  background-color: bisque;
}

#boxes {
  background-image: url("../assets/images/start_image.jpeg");
  background-repeat: no-repeat;
  background-color: bisque;
  height: 100vh;
  width: 100vw;
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
  justify-content: center;
  align-items: center;
  background-position: top;
}

#box {
  max-width: 350px;
  margin-left: auto;
  margin-right: auto;
  /* background-color: brown; */
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#button {
  max-width: 350px;
  margin-left: auto;
  margin-right: auto;
  /* background-color: yellowgreen; */
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  margin-top: 160px;
}

#welcome {
  text-align: center;
  border: 4px solid greenyellow;
  border-radius: 5px;
  background-color: blueviolet;
  margin-top: 200px;
  
}

#start {
  border: 5px solid black;
  height: 185px;
  width: 275px;
  min-width: 265px;
  background-color: transparent;
  border-radius: 50%;
  color: transparent;
  cursor: pointer;
  
  
}

#sound {
    font-weight: bold;
  font-family: 'Courier New', Courier, monospace;
  cursor: pointer;
}

h1 {
      font-weight: bold;
  font-family: 'Courier New', Courier, monospace;
  font-size: 1.6em;
}